<div class="container-fluid">
  <!-- <tabset class="tabset-container" #tabset> -->

  <!-- <tab heading="User Add"> -->
  <div class="card card-bordered fullheight-fixed">
    <div class="card-body">
      <div class="app-form">
        <form
          novalidate
          name="addVdiForm"
          id="addVdiForm"
          [formGroup]="addVdiFormGroup"
        >
          <div class="row">
            <div class="col-lg-2 col-sm-4">
              <div class="form-group trad foc required">
                <label for="server_type_id" class="mb-0">VDI Type</label>

                <select
                  class="form-control form-control-sm"
                  id="server_type_id"
                  name="server_type_id"
                  formControlName="server_type_id"
                  required
                >
                  <option value="" disabled>Please Select</option>
                  <option
                    *ngFor="let items of serverList"
                    value="{{ items.id }}"
                  >
                    {{ items.server_name }}
                  </option>
                  <!-- <option value="vpn" >VPN</option> -->
                  <!-- <option *ngFor="let userType of serverType" [value]="userType.id">
                        {{userType.user_type_desc}}
                      </option> -->
                </select>
              </div>
              <div class="form-group trad foc required">
                <label for="connection_names" class="mb-0"
                  >Connection Name</label
                >
                <input
                  type="text"
                  autocomplete="connectionnane"
                  class="form-control form-control-sm"
                  name="connection_names"
                  id="connection_names"
                  formControlName="connection_name"
                  required
                />
              </div>
              <div class="form-group trad foc required">
                <label for="host_ip" class="mb-0">Host IP</label>
                <input
                  type="text"
                  autocomplete="hostip"
                  class="form-control form-control-sm"
                  name="host_ip"
                  id="host_ip"
                  formControlName="host_ip"
                />
              </div>
              <div class="form-group trad foc required">
                <label for="user_name" class="mb-0">User Name</label>
                <input
                  type="text"
                  autocomplete="username"
                  class="form-control form-control-sm"
                  name="user_name"
                  id="user_name"
                  formControlName="user_name"
                  required
                />
              </div>
              <div class="form-group trad foc required">
                <div class="hint">
                  <label for="password" class="mb-0">Password</label>
                  <span class="tooltip">
                    <svg-icon
                      class="mb-0"
                      src="assets/icons/eye.svg"
                    ></svg-icon>
                  </span>
                  <span class="tooltiptext">
                    <strong>Valid Password Format: </strong>
                    <dl>
                      <dt>
                        Password must be between 8 to 24 characters with no
                        space, atleast one uppercase letter, one number, and one
                        special character(@$!%*?&).
                      </dt>
                    </dl>
                  </span>
                </div>
                <input
                  type="password"
                  autocomplete="new-password"
                  class="form-control form-control-sm"
                  formControlName="user_password"
                  required
                />
              </div>
              <div class="form-group trad foc required">
                <label for="confirmedPassword" class="mb-0"
                  >Confirm Password</label
                >
                <input
                  type="password"
                  autocomplete="new-password"
                  class="form-control form-control-sm"
                  formControlName="confirmedPassword"
                  required
                />
              </div>

              <div class="form-group trad foc required">
                <label for="ostype_name" class="mb-0">OS Type</label>
                <select
                  class="form-control form-control-sm"
                  id="ostype_name"
                  name="ostype_name"
                  formControlName="ostype_name"
                  required
                >
                  <option value="" disabled>Please Select</option>
                  <option value="1">Window</option>
                  <option value="2">Linux</option>
                  <option *ngFor="let userType of osType" [value]="userType.id">
                    {{ osType.user_type_desc }}
                  </option>
                </select>
              </div>
            </div>
          </div>
          <!-- </div> -->
        </form>
      </div>
    </div>
    <div class="card-footer">
      <button
        class="btn btn-sm btn-primary"
        id="submitBtn"
        type="submit"
        (click)="vdiFormSubmit()"
      >
        Submit
      </button>
      <input
        type="button"
        class="btn btn-default float-right"
        value="Reset"
        (click)="reset()"
      />
    </div>
  </div>
  <!-- </tab>
  </tabset> -->
</div>
