<aside class="filter-menu" id="filterDiv">
  <div class="card card-bordered fullheight-fixed">
    <div class="card-header">
      <div class="card-title">Filter</div>
      <div class="card-controls">
        <ul>
          <li>
            <a class="icon-filter-close" filterToggle bubbleClose>
              <svg-icon class="icon-filter-close" src="assets/images/close.svg"></svg-icon>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="card-body scrollable">
      <div class="card-body section-body section-body-sm p-2">
        <form novalidate name="vdiForm" id="vdiForm" [formGroup]="vdiFormGroup" (submit)="onvdiFormSubmit()"
          class="p-0">
          <!-- IP # -->
          <div class="form-group mb-0">
            <label for="ip_name" class="mb-0">IP </label>
            <input type="text" class="form-control form-control-sm" name="ip_name" id="ip_name"
              formControlName="ip_name" />
          </div>
          <!-- VPN -->
          <!-- <div class="form-group mb-0">
                  <label for="vpn_name" class="mb-0">VPN

                  </label>
                  <input type="text" class="form-control form-control-sm"

                      name="vpn_name" id="vpn_name" formControlName="vpn_name">
              </div> -->

          <!-- CONNECTION NAME -->
          <div class="form-group mb-0">
            <label for="connection_name" class="mb-0">Connection Name </label>
            <input type="text" class="form-control form-control-sm" name="connection_name" id="connection_name"
              formControlName="connection_name" />
          </div>
          <!-- USER NAME -->
          <div class="form-group mb-0">
            <label for="user_name" class="mb-0">User Name </label>
            <input type="text" class="form-control form-control-sm" name="user_name" id="user_name"
              formControlName="user_name" />
          </div>
          <!-- SERVER -->
          <div class="form-group mb-0">
            <label for="server_name" class="mb-0">Server</label>
            <select class="form-control form-control-sm" id="server_name" name="server" formControlName="server_name">
              <option *ngFor="let server of serverList" [value]="server.id">
                {{ server.server_name }}
              </option>
            </select>
          </div>
          <!-- Database -->
          <!-- <div class="form-group mb-0">
                <label for="database_name" class="mb-0">Database

                </label>
                <input type="text" class="form-control form-control-sm"

                    name="database_name" id="database_name" formControlName="database_name">
            </div> -->
        </form>
      </div>
    </div>
    <div class="card-footer">
      <button class="btn btn-primary btn-sm px-4" id="btnSubmit" type="submit" (click)="onvdiFormSubmit()"
        form="permissionForm">
        Apply
      </button>
      <button class="btn btn-default btn-sm px-4 float-right" id="btnReset" type="reset" (click)="resetFilters()">
        Reset
      </button>
    </div>
  </div>
</aside>
