<div class="container-fluid">
  <div class="card card-bordered fullheight-fixed">
      <div class="card-header">
        <div class="header-flex-container">
          <div class="card-title col-4">

          </div>
          <div class="paging-block col-4">
          </div>
        </div>
      </div>


<div class="card-body scrollable">
  <div class="app-form">
    <form novalidate name="vdiViewFormGroup" id="vdiViewFormGroup" [formGroup]="vdiViewFormGroup">
      <div class="row">
        <div class="col-lg-2 col-sm-4">
          <div class="form-group  trad foc ">
                </div>
                <div class="form-group  trad foc">
                  <label for="connection_name" class="mb-0">Connection Name</label>
                  <input type="text" autocomplete="connectionnane" class="form-control form-control-sm" name="connection_name"
                    id="connection_name" formControlName="connection_name">
                </div>
                <div class="form-group  trad foc">
                  <label for="name" class="mb-0">User</label>
                  <input type="text" autocomplete="name" class="form-control form-control-sm" name="connection_name"
                    id="name" formControlName="name">
                </div>
                <div class="form-group  trad foc">
                  <label for="server_name" class="mb-0">Server</label>
                  <input type="text" autocomplete="servername" class="form-control form-control-sm" name="server_name"
                    id="server_name" formControlName="server_name">
                </div>
                <div class="form-group  trad foc">
                  <label for="hostname" class="mb-0"> Host Ip</label>
                  <input type="text" autocomplete="hostname" class="form-control form-control-sm" name="hostname"
                    id="hostname" formControlName="hostname">
                </div>
                <div class="form-group  trad foc">
                  <label for="image_os_type" class="mb-0">Os Type</label>
                  <input type="text" autocomplete="image_os_type" class="form-control form-control-sm" name="image_os_type"
                    id="image_os_type" formControlName="image_os_type">
                </div>
              </div>
            </div>
    </form>
  </div>
</div>
</div>
</div>

