<div class="container-fluid">
  <div class="card card-bordered fullheight-fixed">
    <div class="card-body scrollable">
      <div class="app-form">
        <form novalidate name="changePasswordForm" id="changePasswordForm" [formGroup]="changePasswordFormGroup"
          class="p-0">
          <div class="col-lg-2 col-sm-4">
            <div class="form-group trad foc ">
              <label for="user_name" class="mb-0">User Name</label>
              <input type="username" class="form-control form-control-sm" autocomplete="off"
                formControlName="user_name">
            </div>
            <div class="form-group trad foc required">
              <label for="old_password" class="mb-0">Old Password</label>
              <input type="password" class="form-control form-control-sm" autocomplete="new-password"
                formControlName="old_password" required>
            </div>
            <div class="form-group trad foc required">
              <div class="hint">
                <label for="new_password" class="mb-0">New Password</label>
                <span class="tooltip">
                  <svg-icon class="mb-0" src="assets/icons/eye.svg"></svg-icon>
                </span>
                <span class="tooltiptext">
                  <strong>Valid Password Format: </strong>
                  <dl>
                    <dt> Password must be between 8 to 24 characters with no space, atleast one uppercase letter,
                      one number, and one special character (@$!%*?&).</dt>
                  </dl>
                </span>
              </div>
              <input type="password" class="form-control form-control-sm" autocomplete="new-password"
                formControlName="new_password" required>
            </div>
            <div class="form-group trad foc required">
              <label for="confirm_password" class="mb-0">Confirm Password</label>
              <input type="password" class="form-control form-control-sm" autocomplete="new-password"
                formControlName="confirm_password" required>
            </div>

          </div>
        </form>
      </div>
    </div>
    <div class="card-footer">
      <button class="btn btn-sm btn-primary" id="submitBtn" type="submit"
        (click)="onChangePasswordFormSubmit()">Update</button>
      <button class="btn btn-sm btn-default float-right" type="button" (click)="reset()">Reset</button>
    </div>
  </div>

</div>
